.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.InputElemet {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.InputElemet:focus{
    outline: none;
    background-color: #ccc;
}
.Invalid{
    border: 1px solid red;
    background-color: rgb(252, 169, 160);
}